@charset "UTF-8";
/* Responsive Setup */

@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html {
	-moz-text-size-adjust: 100%;	
	-ms-text-size-adjust: 100%;	
	-webkit-text-size-adjust: 100%;	
	-o-text-size-adjust: 100%;	
	text-size-adjust: 100%;	
}

*{margin:0;}

/*CSS Starts*/

html, body {
	background-color: #fffefe;
	font-family: Helvetica, sans-serif;
	font-weight: 400;
	line-height: 1.45;
	color: #3B3A3C;
	font-size: .9em;
	padding: 2.9rem 0 1.45em 0;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.contest-page {
	padding: 2.9rem 0 6.15em 0;
}

header {
	background-color: #3B3A3C;
	background: url(../images/header-background.jpg);
	background-attachment: scroll;
	background-size: cover;
	background-position: left center;
}

/* Schedule */

.schedule {
	text-align: center;
	overflow: hidden;
	color: #fff;
	margin-top: 0;
	text-align: left;
}

.schedule-part {
	margin: 1em 0;
	padding-left: 1.25em;
}

.schedule-part p{
	max-width: 80%;
	margin: 0 auto;
	color: #fff;
}

.schedule-part:last-child {
	border-bottom: none;
}

.icon-top {
	float: left;
	height: 4rem;
	margin: 0rem 3% 0.75rem;
}

@media only screen and (min-width: 38em) {
	
	html, body {
		padding: 0 0 1.95em 0;
	}
	
	header {
		position: fixed;
		left: 0;
		top: 0;
		bottom:0;
		height: 100%;
		max-width: 21rem;
		z-index: 8000;
	}
	
	.schedule-part {
		position: relative;
		margin: 0;
		padding-left:1.25em;
	}

	.schedule-part p{
		margin: 0;
		max-width: 15rem;
	}

	.schedule-part>.cinco{
		margin: 0rem auto 0rem;
	}
		
	.icon-top {
		float: left;
		height: 4rem;
		margin: .75em .75em 0 0;
	}
	
}

.main {
	position: relative;
	max-width: 50rem;
	margin: 0 auto;
	padding: 3rem;
}

::selection {
	color: #fff;
	background: #00B8E6;
}

p {margin-bottom: 1.3em;}

.p-large {
	font-size: 1.4em;
}

.p-med {
	font-size: 1.1em;
}

h1, .uno {
  margin-top: 0;
  font-size: 5.05em;
}

.big-dos {
	font-size: 3.36em;
}

h2, .dos {font-size: 1.953em;}

h3, dt, .tres {font-size: 1.563em;}

h4, dd,f .cuatro {font-size: 1.25em;}

h5, .cinco {font-size: 1em;}

small, .font_small {font-size: 0.75em;}

.no-margin {
	margin-bottom: 0;
}

.flex-img {
	width: 100%;
	display: block;
	margin: 0 auto;
}

section {
	max-width: 95%;
	margin: 3rem auto 0;
}

ul {
	list-style: none;
}

em {
	margin-left:8px;
	color: #3b3a3c;
}

a {
	text-decoration: none;
	color: #38a9d9;
	-webkit-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}

dd {
	font-size: 1em;
}

dd a{
	color: #38a9d9;
	border-bottom: 0.09em solid #38a9d9;
	-webkit-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}

p>a:hover,
p>a:active,
p>a:focus,
dd a:hover,
dd a:active,
dd a:focus{
	color: #3a5d78;
	border-bottom: 2px solid #3a5d78;
}

dt {
	font-weight: 800;
	margin-top: .5rem;
	padding-top: .5em;
	position: relative;
}

dt a {
	color: #3B3A3C;
}

dt>a:after {
    opacity: 0;
    content: url(../images/arrow.svg);
    position:relative;
    left:13px;
    top:2px;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.4s, opacity 0.3s ease-in-out;
	transition: transform 0.4s, opacity 0.3s ease-in-out;
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

dt>a:hover:after,
dt>a:active:after,
dt>a:focus:after {
    opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

.indent {
	padding-right: 2em;
}

.indent>dt{
	padding-top: 0.1em;
	padding-bottom: 0.5em; 
	border-left: 5px solid #00B8E6;
	padding-left: 25px;
	margin-top: 1rem;
}

.indent>dd{
	padding-bottom: 0.15em; 
	border-left: 5px solid #00B8E6;
	padding-left: 25px;
	margin-bottom: 2rem;
}

.white, .teal {
	color: #00B8E6;
}

.actual-white {
	color: #fff;
}

.brand {
	font-weight: 800;
}

.space {
	letter-spacing: 0.04em;
}

.logos {
	padding-bottom: .5em;
}

/* Ticket */

.contest, .get-ticket, .button {
	text-align: center;
	text-transform: uppercase;
	background-color: none;
	border-top: solid 6px #00B8E6;
	background-color: rgba(255,255,255,.7);
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.button {
	position: relative;
}

.margin-bottom {
	margin-bottom: 3.25em;
}

.get-ticket {
	position: fixed;
	top: 0rem;
	width: 100%;
	z-index: 9000;
}

.contest {top: 3rem;}

.date-time {
	display: none;
}

#sponsors {
	margin: 3rem auto 0;
	background-color: #00B8E6;
	width: 100%;
	z-index: 1000;
	padding: 2% 5%;
}

@media only screen and (min-width: 38em) {
	
	section {
		max-width: 40rem;
		margin: 4em 5% 0 24em;
	}
	
	.get-ticket {
		top: 4em;
		max-width: 14.25em;
		padding: 0.3em;
		right: 0rem;
	}
	
	.contest {
		top: 8.5em;
	}
	
	#sponsors {
		z-index: 1000;
		position: absolute;
		padding: 5em 0 6em 24em;
		background-color: #00B8E6;
		right: 0;
	}

}

@media only screen and (min-width: 60em) {
	.date-time {
		display: block;
		width: 12em;
		position: fixed;
		right: 3.5em;
		bottom: 6em;
	}
}

footer, .resp-footer {
	position: fixed;
	background-color: #29292b;
	left: 0;
	right: 0;
	bottom:0;
	text-align: center;
}

.social {
	overflow: hidden;
	text-align: right;
}

.social2 {
	text-align: right;
}

.social i, .social2 i {
	width: 2rem;
	background-position: center center;
	background-repeat: no-repeat;
}

.twitter {
	height: 2rem;
	background-image: url(../images/twitter.svg);
}

.instagram {
	height: 1.5rem;
	background-image: url(../images/instagram.svg);
}

.twitter:hover {
	height: 2rem;
	background-image: url(../images/twitter-blue.svg);
}

.instagram:hover {
	height: 1.5rem;
	background-image: url(../images/instagram-blue.svg);
}

.facebook {
	height: 1.5rem;
	background-image: url(../images/facebook.svg);
}

.facebook:hover {
	height: 1.5rem;
	background-image: url(../images/facebook-blue.svg);
}

.heart {
	position: relative;
	text-indent: 24px;
	padding-top: 1em;
}

.heart:before {
	position: absolute;
	content: url(../images/heart-01.svg);
	height: 15px;
	width: 15px;
	left: -24px;
}

.email {
	color: #fff;
	padding: 0.5em 0 1em;
}

@media only screen and (min-width: 38em) {

	html, body {
		font-size: 1em;
	}
}