@charset "UTF-8";
/* Responsive Setup */

@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html {
	-moz-text-size-adjust: 100%;	
	-ms-text-size-adjust: 100%;	
	-webkit-text-size-adjust: 100%;	
	-o-text-size-adjust: 100%;	
	text-size-adjust: 100%;	
}

*{margin:0;}

/*CSS Starts*/

html, body {
	background-color: #00B8E6;
	font-family: Helvetica, sans-serif;
	font-weight: 400;
	line-height: 1.45;
	color: #3B3A3C;
	font-size: .9em;
	padding: 2% 0 3rem;
}

header {
	background-color: #3B3A3C;
}

.title {
	max-width: 40rem;
	margin: 0 auto;
}

/* Schedule */

.schedule {
	text-align: center;
	overflow: hidden;
	background-color: #3B3A3C;
	color: #fff;
}

.schedule-part {
	border-bottom: solid 1px white;
}

.schedule-part p{
	max-width: 14rem;
	margin: 0 auto 0rem;
}

.schedule-part:last-child {
	border-bottom: none;
}

.icon-top {
	height: 4rem;
	margin: 1rem 0 .5rem;
}

@media only screen and (min-width: 38em) {
	
	header {
		position: fixed;
		left: 0;
		top: 0;
		bottom:0;
		max-width: 18rem;
	}
	
	.icon-top {
		float: left;
		height: 4rem;
		margin: 0rem .75rem .5rem;
	}
	
	.schedule {
		margin-top: 0;
		text-align: left;
	}
	
	.schedule-part{
		margin: 1rem 0;
	}

}

.main {
	position: relative;
	max-width: 50rem;
	margin: 0 auto;
	padding: 3rem;
}

::selection {
	color: #fff;
	background: #3B3A3C;
}

p {margin-bottom: 1.3em;}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3, dt {font-size: 1.563em; font-weight: 800;}

dt {
	margin-top: .5rem;
}

h4, dd {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}

.flex-img {
	width: 100%;
	display: block;
	margin: 0 auto;
}

section {
	max-width: 45rem;
	margin: 0 auto;
}

ul {
	list-style: none;
}

em {
	margin-left: 5px;
	color: rgba(255,255,255,.6);
}

a {
	text-decoration: none;
	color: #3B3A3C;
}

dd a{
	border-bottom: 1px solid #3b3a3c;
	-webkit-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}

dd a:hover{
	color: #2096bf;
	border-bottom: 1px solid #2096bf;
}

dt>a:after {
    opacity: 0;
    content: url(../images/arrow.svg);
    position:relative;
    left:13px;
    top:2px;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.3s;
	transition: transform 0.4s, opacity 0.3s;
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

dt>a:hover:after,
dt>a:active:after,
dt>a:focus:after {
    opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

.white {
	color: #fff;
}

.brand {
	font-weight: 800;
}

.infobar {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 3rem;
	height: 95%;
}

/* Ticket */

.get-ticket {
	position: fixed;
	top: 0rem;
	width: 100%;
	background-color: #fff;
	padding: 1rem;
	z-index: 9000;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in;
}

.get-ticket:hover {
	border-top: solid 7px white;
	background-color: rgba(255,255,255,.6);
}

@media only screen and (min-width: 38em) {
	
	.get-ticket {
		position: fixed;
		top: 5rem;
		max-width: 15rem;
		background-color: #fff;
		padding: 1rem;
		z-index: 9000;
		right: 0rem;
	}

}

footer, .resp-footer {
	position: fixed;
	background-color: #3B3A3C;
	left: 0;
	right: 0;
	bottom:0;
	text-align: center;
}

.social {
	overflow: hidden;
	text-align: right;
}

.social i, .social2 i {
	width: 2rem;
	background-position: center center;
	background-repeat: no-repeat;
}

.twitter {
	height: 2rem;
	background-image: url(../images/twitter.svg);
}

.facebook {
	height: 1.5rem;
	background-image: url(../images/facebook.svg);
}

.twitter:hover {
	height: 2rem;
	background-image: url(../images/twitter-blue.svg);
}

.facebook:hover {
	height: 1.5rem;
	background-image: url(../images/facebook-blue.svg);
}


@media only screen and (min-width: 38em) {

	html, body {
		font-size: 1em;
	}
}